$theme-colors: (
    dark: #000,
    light: #fff,
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
) !default;

$grid-columns: 24 !default;
$grid-gutter-width: 12px !default;

$body-bg: #fff !default;
$body-color: #000 !default;

$navbar-light-color: #000 !default;
$navbar-light-hover-color: #000 !default;
$navbar-nav-link-padding-x: 15px;

$font-family-sans-serif: franklin-gothic-urw, sans-serif !default;

$btn-border-radius: 0px;

$modal-content-border-radius: 0px;
$spacer: 1rem;

$spacers: (
    6: (
        $spacer * 5,
    ),
    7: (
        $spacer * 6,
    ),
);

@import '../node_modules/bootstrap/scss/bootstrap';

body {
    margin-right: 0 !important;
}

h1 {
    font-size: 4.6rem;
    line-height: 4.6rem;
}

// Utility Classes

.soblu-desktop-hide {
    display: none;
}
.soblu-mobile-hide {
    display: block;
}

.fgCompressed {
    font-family: franklin-gothic-compressed, sans-serif;
}

.heavy {
    font-weight: 900;
}

.fgCompressed-normal-weight {
    font-weight: 600;
}

.fgCompressed-quote {
    font-size: 1.7rem;
}

.fgCompressed-voices-quote {
    font-size: 2rem;
}

.section-spacer {
    margin-bottom: 4rem;
}

.section-spacer-voices-quote {
    margin-bottom: 2rem;
}

.d-table {
    display: table;
}

.p-no-margin-bottom {
    margin-bottom: 0;
}

.mobile-text-center {
    text-align: auto;
}

.span-caption {
    display: table-caption;
    caption-side: bottom;
}

// Elements

.navbar .nav-item {
    font-family: franklin-gothic-compressed, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
    &.active {
        text-decoration: underline;
    }

    &:last-child {
        a {
            padding-right: 0;
        }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bold-emphasis-text {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 3rem;
}

#soblu-vertical-menu {
    position: relative;
    .soblu-vertical-menu-sticky {
        position: sticky;
        top: 15vh;
    }
    .soblu-vertical-menu-container {
        position: absolute;
        height: 100%;
        left: 0;
        z-index: 1000;
    }
    .soblu-vertical-menu-bar {
        margin-right: 2px;
        cursor: pointer;
        height: 400px;
        background-color: #000;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: #fff;
        transform: rotate(180deg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 10px;
        max-width: 35px;
    }

    #soblu-menu-drawer {
        background-color: #000;
        top: 10px;
        color: #fff;
        z-index: 1000;
        padding: 5px 10px;
        width: 295px;

        svg {
            width: 0.9rem;
            margin-right: 3px;
        }

        ul {
            padding-left: 2rem;
            font-family: franklin-gothic-compressed, sans-serif;
            font-weight: bold;
            font-size: 1.1rem;
            line-height: 1.7rem;
            li {
                list-style: none;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                > div > div > ul > li {
                    line-height: 1.8rem;
                    > a {
                        font-family: franklin-gothic-urw, sans-serif !important;
                        font-weight: 100;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

#soblu-menu-drawer-mobile {
    ul {
        padding-left: 1.2rem;
        font-family: franklin-gothic-compressed, sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: left;
        li {
            list-style: none;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
            > ul > li {
                font-family: franklin-gothic-urw, sans-serif;
                font-weight: 100;
                font-size: 1.1rem;
            }
        }
    }
}

.modal-header {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 0 !important;
    padding: 0.5rem 1rem;
    button {
        span {
            color: #fff;
        }
    }
}

.soblu-mobile-nav {
    display: none;
}

img {
    cursor: pointer;
}

.soblu-quote {
    font-family: franklin-gothic-compressed, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
}

.soblu-img-caption {
    font-family: franklin-gothic-compressed, sans-serif;
    font-size: 1rem;
    margin-top: 1.2rem;
    font-weight: bold;
}

.soblu-edwin-adjust-left {
    margin-left: 50px;
}

.soblu-first-section {
    margin-top: 8rem;
}

.soblu-first-section-inner {
    margin-top: 4rem;
}

.fslightbox-container {
    background: linear-gradient(rgba(255, 255, 255, 0.95), #000 1810%) !important;
}

.fslightbox-caption {
    background: rgba(255, 255, 255, 0.8) !important;
    border: 1px solid #b7b7b7 !important;
    .fslightbox-caption-inner {
        color: #000 !important;
    }
}

.fslightbox-slide-number-container {
    color: black !important;
    .fslightbox-slash {
        background: #000 !important;
    }
}

.swiper-container {
    width: 100%;
    height: auto !important;
}

.rohnique-davy {
    img {
        width: 95%;
    }
}

.video-question {
    margin-top: -50px;
}

.mobile-interrupt-block-margin {
    margin: 2rem 0;
}

.inner-byline {
    font-size: 1.5rem;
}

.in-their-words-top-quote-offset {
    margin-top: 8rem;
}
.in-their-words-top-quote {
    font-size: 2.9rem;
    line-height: 3.2rem;
}

.large-quote {
    font-size: 2.9rem;
    line-height: 3.2rem;
    text-align: center;
}

.kris-juan {
    line-height: 2rem;
}

#pillar-of-support,
#a-cultural-outlet,
#a-space-of-its-own,
#an-organization-for-whom,
#back-to-the-old-days,
#branching-out,
#an-agency-of-change,
#activism-its-just-one-facet-of-sobhu,
#a-journey-of-self-discovery,
#incredibly-diverse-within,
#an-extended-family,
#developing-leaders,
#a-home-and-a-family,
#the-b-and-the-l,
#the-soblu-room,
#still-a-critical-organization,
#kardelens-reflection,
#a-second-home {
    margin-top: 5rem;
}

.timeline-year {
    margin-top: 2rem;
    font-size: 5rem;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 25px;
}

#soblu-voices-page .top-content {
    margin-top: 3rem;
}

#soblu-voices-page .soblu-first-section-inner {
    margin-bottom: 3rem;
}

.main-content .row {
    margin-top: 4rem;
}

.main-content .row:nth-child(10) {
    .col-md-12 > div {
        height: 60%;
    }
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.react-player__shadow {
    background: radial-gradient(#000, rgba(0, 0, 0, 0) 60%) !important;
    border-radius: 64px;
    width: 128px !important;
    height: 128px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-player__play-icon {
    border-style: none !important;
}

.react-player__play-icon::before {
    content: '';
    width: 64px;
    display: block;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='%23ffffff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'%3E%3C/polygon%3E%3C/svg%3E");
}

/* MEDIA QUERIES */

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .soblu-mobile-nav {
        display: block;
    }

    .navbar {
        display: none;
    }

    .soblu-vertical-menu-container {
        display: none;
    }
}

// Small Tablets
// @media (max-width: 767px) {

// }

// phones
@media (max-width: 767px) {
    .soblu-mobile-hide {
        display: none;
    }
    .soblu-desktop-hide {
        display: block;
    }

    .soblu-mobile-nav {
        display: block;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .lead {
        font-size: 1.5rem;
    }

    .soblu-edwin-adjust-left {
        margin-left: 0;
    }

    .soblu-first-section {
        margin-top: 4rem;
        img {
            margin-bottom: 4rem;
        }
    }

    .soblu-edwin-first-section img {
        margin-bottom: 2rem;
    }

    #soblu-voices-page .section-spacer {
        margin-bottom: 2rem;
    }

    #edwin-essay-page .section-spacer {
        margin-bottom: 0;
    }

    .timeline-year {
        margin-top: 3rem;
        display: block;
        text-align: center;
    }

    #pillar-of-support,
    #a-radical-movement,
    #a-cultural-outlet,
    #a-space-of-its-own,
    #an-organization-for-whom,
    #back-to-the-old-days,
    #branching-out,
    #an-agency-of-change,
    #activism-its-just-one-facet-of-sobhu,
    #a-journey-of-self-discovery,
    #incredibly-diverse-within,
    #an-extended-family,
    #developing-leaders,
    #a-home-and-a-family,
    #the-b-and-the-l,
    #the-soblu-room,
    #still-a-critical-organization,
    #kardelens-reflection,
    #a-second-home {
        padding-top: 45px;
    }

    .video-question {
        margin-top: auto;
    }

    .inner-byline {
        margin-top: 2rem;
    }

    .rohnique-davy img {
        width: 100%;
    }

    .in-their-words-top-quote {
        font-size: 2rem;
        line-height: 2rem;
        margin: 1rem 0;
    }

    #soblu-voices-page .top-content {
        margin-top: 0;
    }

    #soblu-voices-page .large-quote {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    .kris-juan {
        line-height: 1.5rem;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .fgCompressed-voices-quote {
        line-height: 2.5rem;
    }

    .mobile-text-center {
        text-align: center;
    }

    .bold-emphasis-text {
        margin-top: 2rem;
    }

    #pillar-of-support,
    #a-cultural-outlet,
    #a-space-of-its-own,
    #an-organization-for-whom,
    #back-to-the-old-days,
    #branching-out,
    #an-agency-of-change,
    #activism-its-just-one-facet-of-sobhu,
    #a-journey-of-self-discovery,
    #incredibly-diverse-within,
    #an-extended-family,
    #developing-leaders,
    #a-home-and-a-family,
    #the-b-and-the-l,
    #the-soblu-room,
    #still-a-critical-organization,
    #kardelens-reflection,
    #a-second-home {
        margin-top: 1rem;
    }

    #soblu-voices-page .soblu-first-section-inner {
        margin-bottom: 0;
    }

    .main-content .row {
        margin-top: 0;
    }

    .main-content .row:nth-child(10) {
        .col-md-12 > div {
            height: 100%;
        }
    }
}
