$theme-colors: (
    dark: #000,
    light: #fff,
) !default;

$grid-columns: 24 !default;
$grid-gutter-width: 12px !default;

$body-bg: #fff !default;
$body-color: #000 !default;

$navbar-light-color: #000 !default;
$navbar-light-hover-color: #000 !default;
$navbar-nav-link-padding-x: 15px;

$font-family-sans-serif: franklin-gothic-urw, sans-serif !default;

$btn-border-radius: 0px;

$modal-content-border-radius: 0px;

@import '../node_modules/bootstrap/scss/bootstrap';

body {
    margin-right: 0 !important;
}

// Utility Classes

.soblu-desktop-hide {
    display: none;
}
.soblu-mobile-hide {
    display: block;
}

.fgCompressed {
    font-family: franklin-gothic-compressed, sans-serif;
}

.heavy {
    font-weight: 900;
}

.fgCompressed-normal-weight {
    font-weight: 600;
}

.fgCompressed-quote {
    font-size: 1.7rem;
}

.section-spacer {
    margin-bottom: 4rem;
}

.d-table {
    display: table;
}

// .d-inline-block {
//     display: inline-block;
// }

.span-caption {
    display: table-caption;
    caption-side: bottom;
}

// Elements

.navbar .nav-item {
    font-family: franklin-gothic-compressed, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
    &.active {
        text-decoration: underline;
    }

    &:last-child {
        a {
            padding-right: 0;
        }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.heading1 {
    font-size: 4.6rem;
    line-height: 4.6rem;
}

.bold-emphasis-text {
    font-size: 1.5rem;
    font-weight: 900;
}

#soblu-title h1 {
    letter-spacing: -3px !important;
    font-size: 6rem;
    margin-bottom: 0;
}

#soblu-vertical-menu {
    margin-top: 2rem;
    position: relative;
    .soblu-vertical-menu-sticky {
        position: sticky;
        top: 10px;
    }
    .soblu-vertical-menu-container {
        position: absolute;
        height: 100%;
        left: 0;
        z-index: 1000;
    }
    .soblu-vertical-menu-bar {
        margin-right: 5px;
        cursor: pointer;
        height: 400px;
        background-color: #000;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: #fff;
        transform: rotate(180deg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 10px;
    }

    #soblu-menu-drawer {
        background-color: #000;
        top: 10px;
        color: #fff;
        z-index: 1000;
        padding: 5px 10px;
        width: 400px;

        ul {
            padding-left: 2rem;
            font-family: franklin-gothic-compressed, sans-serif;
            font-weight: bold;
            font-size: 1.3rem;
            line-height: 2rem;
            li {
                list-style: none;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                > ul > li {
                    font-family: franklin-gothic-urw, sans-serif;
                    font-weight: 100;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

#soblu-menu-drawer-mobile {
    ul {
        padding-left: 1.2rem;
        font-family: franklin-gothic-compressed, sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: left;
        li {
            list-style: none;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
            > ul > li {
                font-family: franklin-gothic-urw, sans-serif;
                font-weight: 100;
                font-size: 1.1rem;
            }
        }
    }
}

.modal-header {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 0 !important;
    padding: 0.5rem 1rem;
    button {
        span {
            color: #fff;
        }
    }
}

.soblu-mobile-nav {
    display: none;
}

img {
    cursor: pointer;
}

.soblu-quote {
    font-family: franklin-gothic-compressed, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
}

.soblu-img-caption {
    font-family: franklin-gothic-compressed, sans-serif;
    font-size: 1rem;
    margin-top: 1.2rem;
    font-weight: bold;
}

.soblu-edwin-adjust-left {
    margin-left: 50px;
}

.soblu-first-section {
    margin-top: 8rem;
}

.soblu-first-section-inner {
    margin-top: 4rem;
}

.fslightbox-container {
    background: linear-gradient(rgba(255, 255, 255, 0.9), #000 1810%) !important;
}

.fslightbox-caption {
    background: rgba(255, 255, 255, 0.8) !important;
    border: 1px solid #b7b7b7 !important;
    .fslightbox-caption-inner {
        color: #000 !important;
    }
}

.fslightbox-slide-number-container {
    color: black !important;
    .fslightbox-slash {
        background: #000 !important;
    }
}

.swiper-container {
    width: 100%;
    height: auto !important;
}

.rohnique-davy {
    img {
        width: 95%;
    }
}

/* MEDIA QUERIES */

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .soblu-mobile-nav {
        display: block;
    }

    .navbar {
        display: none;
    }

    .soblu-vertical-menu-container {
        display: none;
    }
}

// Small Tablets
@media (max-width: 767px) {
    .soblu-mobile-hide {
        display: none;
    }
    .soblu-desktop-hide {
        display: block;
    }
}

// phones
@media (max-width: 576px) {
    .soblu-mobile-hide {
        display: none;
    }
    .soblu-desktop-hide {
        display: block;
    }

    .soblu-mobile-nav {
        display: block;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .soblu-edwin-adjust-left {
        margin-left: 0;
    }

    .soblu-first-section {
        margin-top: 4rem;
        img {
            margin-bottom: 4rem;
        }
    }

    .soblu-edwin-first-section img {
        margin-bottom: 2rem;
    }

    .section-spacer {
        margin-bottom: 2rem;
    }

    .timeline-year {
        margin-top: 2rem;
    }

    #soblu-vertical-menu {
        margin-top: 0;
    }

    #a-radical-movement,
    #a-pillar-of-support,
    #a-cultural-outlet,
    #a-space-of-its-own,
    #an-organization-for-whom {
        padding-top: 45px;
    }
}
