$theme-colors: (
    dark: #000,
) !default;

$grid-columns: 24 !default;
$grid-gutter-width: 12px !default;

$body-bg: #000 !default;
$body-color: #fff !default;

$navbar-dark-color: #fff !default;
$navbar-dark-hover-color: #fff !default;
$navbar-nav-link-padding-x: 15px;

$font-family-sans-serif: franklin-gothic-itc, sans-serif !default;

@import '../node_modules/bootstrap/scss/bootstrap';

.soblu-desktop-hide {
    display: none;
}
.soblu-mobile-hide {
    display: block;
}

.navbar .nav-item {
    font-family: franklin-gothic-compressed, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
    &.active {
        text-decoration: underline;
    }

    &:last-child {
        a {
            padding-right: 0;
        }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

#soblu-title h1 {
    letter-spacing: -3px !important;
    font-size: 6rem;
    margin-bottom: 0;
}

#soblu-vertical-menu {
    margin-top: 2rem;
    position: relative;
    .soblu-vertical-menu-sticky {
        position: sticky;
        top: 10px;
    }
    .soblu-vertical-menu-container {
        position: absolute;
        height: 100%;
        left: 0;
        z-index: 1000;
    }
    .soblu-vertical-menu-bar {
        margin-right: 5px;
        cursor: pointer;
        height: 400px;
        background-color: #fff;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: #000;
        transform: rotate(180deg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 10px;
    }

    #soblu-menu-drawer {
        background-color: white;
        top: 10px;
        color: black;
        z-index: 1000;
        padding: 5px 10px;
        width: 400px;
    }
}

.soblu-mobile-nav {
    display: none;
}

/* MEDIA QUERIES */

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .soblu-mobile-nav {
        display: block;
    }

    .navbar {
        display: none;
    }

    .soblu-vertical-menu-container {
        display: none;
    }
}

// Small Tablets
@media (max-width: 767px) {
    .soblu-mobile-hide {
        display: none;
    }
    .soblu-desktop-hide {
        display: block;
    }
}

@media (max-width: 767px) {
    .soblu-mobile-hide {
        display: none;
    }
    .soblu-desktop-hide {
        display: block;
    }
}

// phones
@media (max-width: 576px) {
    .soblu-mobile-hide {
        display: none;
    }
    .soblu-desktop-hide {
        display: block;
    }

    .soblu-mobile-nav {
        display: block;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
